body {
    margin: 50px;
    background: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    cursor: none;
}

::-webkit-scrollbar {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 24px;
    padding: 24px;
}


.card {
    background: #2a2a2a;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .4);
    transition: transform .2s, box-shadow .2s;
    cursor: pointer;
    outline: 8px solid black;
    border: 8px solid black;
}

.card.active {
    transform: scale(1.1);
    outline: 8px solid white;
    border: 8px solid black;
    box-shadow: 0 0 25px white;
}

.card img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    display: block;
}